In [1]:
1 + 2

3

In [2]:
for i in [1, 3, 5]:
    print(i)

1
3
5

# if文の練習

In [6]:
a = 80
if a > 100:
    print("合格")
else:
    print("不合格")

不合格

In [7]:
# これはコメントです

In [13]:
import numpy as np

In [12]:
np.random.randint(10)

3

In [17]:
[[1, 4], [6, 7]]

[[1, 4], [6, 7]]

In [18]:
np.random.randint(0, 101, (100, 5))

array([[  6,  93,  58,  61,  68],
       [ 30,  89,  43,  16,  77],
       [ 32,  14,  37,   8,   2],
       [ 44,  76,  45,  72,  38],
       [ 70,  53,  99,  31,  89],
       [ 62,  28,  59,  61,  48],
       [ 33,  93,  65,  95,  65],
       [ 90,  19,  92,  62,  86],
       [ 73,  88,   8,  14,  93],
       [ 72,  20,  30,  43,  53],
       [ 82,  83,  30,   6,  63],
       [ 45,  42,  53,  46,   1],
       [ 77,  15,  90,   7,  35],
       [ 89,  47,  79,  14,  67],
       [ 63,  42,  63,  60,  62],
       [ 18,  43,  84,  77,  23],
       [ 25,  90,  32,  21,   2],
       [ 61,  24,  32,   9,  11],
       [ 92,  54,  69,   2,  22],
       [ 35,   3,  40,  28,  90],
       [ 24,  11,  30,  82,  22],
       [  9,  28,  42,  78,  57],
       [ 82,  77,  71,  58,  21],
       [ 40,  36,  59,  19,  93],
       [ 75,  33,  33,  13,  52],
       [ 50,  73,  67,  96,  48],
       [ 84,   5,  33,  87,   5],
       [ 40,  92,  37,   5,  44],
       [ 48,  74,  84,  79,  70],
       [ 67,  44,  43,   8,  97],
       [ 14,   0,  68,   5,   3],
       [ 36,  69,  99,  80,  49],
       [ 28,  13,  19,  27,  40],
       [ 96,  63,   7,  46,   6],
       [ 77,  32,  37,  92,  82],
       [ 20,  39,  21,  44,  46],
       [ 42,  70,  92,  30,  93],
       [ 99,  62,  36,  89,  15],
       [  6,  87,  58,  61,   1],
       [ 32,  65,  61,  46,  48],
       [ 87,   7,  65,  82,  16],
       [ 78,  11,  39,  84,  51],
       [ 40,  48,  15,  47,  53],
       [ 54,  70,  97,  96,  42],
       [ 13,  71,  11,  75,  86],
       [  6,  35,  42,  83,  88],
       [ 35,  66,  40,  17,  85],
       [ 84,  57,  87,   4,  95],
       [ 57,  77,   6,   6,  31],
       [ 10,  29,  82,  48,  51],
       [ 71,  49,  43,  13,  20],
       [ 85,   8,  44,  42,  14],
       [  3,  51,  15,  40,  49],
       [ 82,  68,  95,  86,  11],
       [ 95,  49,  48,  65,   9],
       [ 90,  17,  59,  77, 100],
       [ 40,  96,  54,  98,   5],
       [ 91,  74,   1,  10,  80],
       [ 97,   1,  11,  34,  89],
       [ 17,   6,  69,  32,  54],
       [ 70,  48,  20,   3,  94],
       [ 69,  40,  99,  67,  69],
       [  9,  30,  73,  40,  90],
       [ 71,  82,  17,  61,  47],
       [ 87,  91,  91,  34,  82],
       [ 37,  90,  95,  42,  82],
       [ 74,  17,   1,  47,  50],
       [  6,  57,  91,  55,  59],
       [ 12,  65,  77,   1,   8],
       [ 91,   3,  88,  90,  26],
       [ 56,  96,  42,   7,  31],
       [ 45,  68,   1,  55,  13],
       [ 84,  89,  28,  28,   0],
       [ 29,  14,  25,   7,  53],
       [ 81,  45,  54,  71,  27],
       [ 51,  55,  52,  53,  55],
       [ 60,  95,  28,  89,  66],
       [ 11,  26,  93,  14,  84],
       [ 90,  46,  79,  32,  77],
       [ 32,  85,  32,  22,  64],
       [ 71,  11,  93,  61,  42],
       [ 64,  31,  34,  41,   5],
       [ 80,  19,  67,  50,  10],
       [ 14,  33,  39,  66,   9],
       [ 26,  32,  66,   2,  95],
       [ 37,  59,  67,  83,  20],
       [  6,  12,   2,  52,  29],
       [ 48,  43,  17,  27,  54],
       [ 19,  66,   5,  78,  52],
       [ 93,  21,  90,  12,  36],
       [  5,   6,  40,  61,  89],
       [ 49,  23,   1,  84,  63],
       [ 73,  91,  67,  85,  54],
       [ 10,  62,  19,  46,  80],
       [ 63,   9,  25,  47,  38],
       [ 49,  67,  96,   6,  19],
       [ 57,  42,  96,  39,  36],
       [ 43,  58,  61,  52,  61],
       [ 15,  55,   6,  93,  40],
       [ 59,  19,  49,  83,  16]])

In [25]:
import pandas as pd

df = pd.DataFrame(data=np.random.randint(0, 101, (100, 5)), columns=['Japanese', 'Mathematics', 'English', 'Science', 'Civics'])
df.head()

   Japanese  Mathematics  English  Science  Civics
0         6           42        4       60      80
1        51            1       49       24      82
2         6            4       71        6      64
3        14           72       63       86      89
4        40           97       63       28      87

In [28]:
def hoge(str, age):
    print(str, age)

In [32]:
hoge('takata', 21)

takata 21