# まずはやってみる

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### 疑似データ作成

In [2]:
df = pd.DataFrame(data=np.random.randint(0, 101, (100, 5)), columns=['国語', '数学', '英語', '理科', '社会'])
df.head()

   国語  数学  英語  理科  社会
0  84  40  84  88  99
1  53  78  32   6  74
2  27  19  64  58  36
3  80  79  73  21  20
4  97  70  43  10  73

In [3]:
df['合否'] = df.T.sum() > 250
df.head()

   国語  数学  英語  理科  社会     合否
0  84  40  84  88  99   True
1  53  78  32   6  74  False
2  27  19  64  58  36  False
3  80  79  73  21  20   True
4  97  70  43  10  73   True

In [4]:
from sklearn.preprocessing import LabelEncoder

lbl = LabelEncoder()
df['合否'] = lbl.fit_transform(list(df['合否'].values))
df.head()

   国語  数学  英語  理科  社会  合否
0  84  40  84  88  99   1
1  53  78  32   6  74   0
2  27  19  64  58  36   0
3  80  79  73  21  20   1
4  97  70  43  10  73   1

### データフレームに格納

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X = df.drop(columns=['合否'])
y = df['合否']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

### モデルを生成(ランダムフォレスト)

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
model = RandomForestClassifier(n_estimators=500, max_depth=5, random_state=0)

### 学習

In [16]:
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

### スコア出力

In [17]:
model.score(X_test, y_test)

0.76